body{
    background-color: #222;
    color: #FFFF ;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;

}
svg{
    color: #fff;
}
a{
    cursor: pointer;
}
i{
    color: #FFFF;
    font-size: 1.8rem;
}
.img{
    border-radius: 100px;
    width: 150px;
    height: 150px; 
}
.profile{
    height: 100%;
    padding: 50px 50px 0 40px;
}

.greetings{
    margin-top: 1rem;
    font-size: 40px;
    letter-spacing: 0.00938em;
}


.text{
    margin-top: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 20px;
    width: 70%;
    color: #CCC;
    line-height:1.5;
    letter-spacing: 0.00938em;
    font-weight: 100;
}
.icons{
    margin-top: 24px;
}
.icn{
    display: inline-block;
    margin-right: 40px;
    margin-bottom: 2rem;
  
}

.add{
    height: 100%;
    padding-left: 40px;
    margin-bottom: 2rem;
}

.add-sty{
    width: 6.5rem !important;
    height: 2.5rem !important;
    color: #FFF  ;
    background-color: #BD5FFF;
    width: 5.3rem; 
    height: 2.7rem    ;
    border:#BD5FFF 1px solid;
    border-radius: 5px;
    cursor: pointer;
    margin-inline-end: 5px;
}
.add-sty-outline{
   width: 6.5rem !important;
    height: 2.5rem !important;
    color: #FFF  ;
    background-color: #222;
  
    width: 5.3rem; 
    height: 2.7rem    ;
    border:#BD5FFF 1px solid;
    border-radius: 5px;
    cursor: pointer;
    margin-inline-end: 5px;
}
.sup-card{
  display: flex;
  flex-wrap: wrap;
  height: max-content;
  
}

.proj{
    height: 100%;
    padding-left: 40PX;
    margin-bottom: 2rem;
}
#proj-name{
    font-size: 2rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.334;
    letter-spacing: 0em;
    margin-bottom: 2rem;
}

.card{
    padding: 1rem;
    border: 0.001em solid rgb(150, 150, 150);
    border-radius: 10px;
    font-size: 0.875rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    margin: 1em 1em 1em 0;
    height: max-content;

}
.btns{
  margin-top: 1rem;
}
.card-title{
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 35px;
    margin: 20px 20px 20px 0px; 
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    
}
.card-text{
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.01071em;
    color: #CCC;
}


.btn{
    color: #fff;
    background-color: #BD5FFF;
    width: 5.3rem; 
    height: 2.5rem    ;
    border:#BD5FFF 1px solid;
    border-radius: 10px;
    cursor: pointer;
  margin: 8px 5px 10px 0;
}
.cd{
    background-color: #333;
    border: rgba(255, 255, 255, 0.23) 1px solid;
}

.tech{
  margin: 20px 10px 10px 0;
}

.stack-lower{
  border: 1px solid ;
  border-radius: 1rem;
  padding: 8px;
  color: #0097e6;
}

@media only screen and (max-width:600px){
    .profile{
        padding: 20px 12px 0 12px !important;
    }
    .add{
        padding: 0 12px !important;
    }
    .proj{
        padding:0 12px !important;
    }
    .text{
        width: 100%;
        font-size: 20px;
    }
    .icn{
        margin: 0 20px 2rem 0 ;
    
    }
    .card{
        width: 80% !important;
        height: 15rem !important;
    }
    .card-title{
        font-size: 30px;
    }
    .card-text{
        font-size: 0.9rem;
    }
}
/* .loader{
  position: fixed;
  top: 0;
  left: 0;
  background-color: #222;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.disappear{
  animation: vanish forwards;
  animation-duration: 2s;
}
@keyframes vanish{
  100%{
    opacity: 1;
    visibility: hidden;
  }
} */