body{
    background-color: #222;
    color: #FFFF ;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;

}
svg{
    color: #fff;
}
a{
    cursor: pointer;
}
i{
    color: #FFFF;
    font-size: 1.8rem;
}
.img{
    border-radius: 100px;
    width: 150px;
    height: 150px; 
}
.profile{
    height: 100%;
    padding: 50px 50px 0 40px;
}
.greetings{
    margin-top: 1rem;
    font-size: 40px;
    letter-spacing: 0.00938em;
}
.text{
    margin-top: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 20px;
    width: 70%;
    color: #CCC;
    line-height:1.5;
    letter-spacing: 0.00938em;
    font-weight: 100;
}
.icons{
    margin-top: 24px;
}
.icn{
    display: inline-block;
    margin-right: 40px;
    margin-bottom: 2rem;
}

.add{
    height: 100%;
    padding-left: 40px;
    margin-bottom: 2rem;
}

.add-sty{
    width: 6.5rem !important;
    height: 2.5rem !important;
}

.proj{
    height: 100%;
    padding-left: 40PX;
    margin-bottom: 2rem;
}
#proj-name{
    font-size: 2rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.334;
    letter-spacing: 0em;
    margin-bottom: 2rem;
}

.card{
    padding: 1rem;
    border: 0.001em solid rgb(150, 150, 150);
    border-radius: 10px;
    font-size: 0.875rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: 0.01071em;

}
.card-title{
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 35px;
    margin: 20px; 
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    
}
.card-text{
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.01071em;
    color: #CCC;
}
.btn{
    color: #fff;
    background-color: #BD5FFF;
    width: 5.3rem; 
    height: 2.7rem    ;
    border:#BD5FFF 1px solid;
    border-radius: 5px;
    cursor: pointer;
}
.cd{
    background-color: #333;
    border: #ccc 1px solid;

}

@media only screen and (max-width:600px){
    .text{
        width: 100%;
        font-size: 20px;
    }
    .icn{
        margin: 0 20px 2rem 0 ;
    
    }
    .card{
        width: 80% !important;
        height: 15rem !important;
    }
    .card-title{
        font-size: 30px;
    }
    .card-text{
        font-size: 0.9rem;
    }
}
